/* 
######## SELECTORES DESCENDIENTES ########
Nos permite seleccionar y aplicar estilos a los elementos html que estén especificamente dentro de otro elemento html.
*/

footer p { /* Sólo se le aplicará estilos a los elementos p que estén dentro del elemento footer.*/
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: hotpink;
    background-color: lightblue;
}