/* 
###### SELECTOR ID ######
*/
#parrafo-1 {
    /* Sólo aplicará los estilos al elemento que contenga dicho id. */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    font-size: 30px;
    border: 3px solid lightblue;
    padding: 10px;
}
#subtitulo-1{
    background-color: lightblue;
    font-size: 30px;
    color: lightcoral;
}