/*  
######### SELECTOR DE CLASE #########

Nos permite asignarle estilos a todos los elementos html que contengan el atributo class y el nombre que la clase.
Un elemento html puede tener múltiples clases separados por un espacio. Si dichas clases comparten estilos similares, solo se aplicará  los estilos de la ultima clase ubicada en la hoja de estilos de css.
*/

.estilos-de-texto {
    color: orangered;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: gold;

}

.bg-color {
    background-color: lightblue;
}
.fs-30 {
    font-size: 30px;
}