footer {
    padding-top: 20px;
    width: 100%;
    min-height: 20vh;
    background-color: #414141;
    text-align: center;

    p {
        color: red;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}